* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: bottom;
}

.width-limit {
    width: 1000px;
    margin: auto;
}

header {
    text-align: center;
    border-bottom: solid 1px darkorange;
    padding: 5px 0;
}

main {
    font-size: 14px;
}

nav {
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
    float: right;
    line-height: 30px;
    font-size: 10pt;
}

nav ul li {
    display: inline-block;
    padding-left: 10px;
}

section {
    border-radius: 2px;
    background: white;
    padding: 15px 10px;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-top: solid 0.5px silver;
    border-bottom: solid 0.5px silver;
}

th, td {
    padding: 10px 7px;
}

th {
    border-bottom: solid 2px silver;
}

th.left {
    text-align: left;
}

td {
    border-bottom: solid 0.5px silver;
}

h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 2px;
    color: darkgrey;
}

table.index {
    width: auto;
    margin: auto;
}

.results h2 {
    font-size: 15px;
}

.results th {
    font-size: 11px;
    padding: 7px;
    white-space: nowrap;
}

.results td {
    font-size: 13px;
    padding: 7px;
    white-space: nowrap;
}

.results .position {
    width: 17px;
    text-align: right;
}

.results .name {
    width: 170px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.results .club {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.results .time {
    width: 50px;
    text-align: right;
}

.results .time-behind {
    width: 35px;
    text-align: right;
}

.results .position-details {
    width: 20px;
    text-align: right;
}

.results .details {
    color: darkgrey;
}

.results .small {
    font-size: 11px;
}

.results .status {
    color: silver;
    text-align: right;
}

.results .points {
    width: 40px;
    text-align: right;
}

@media only screen and (max-width: 1010px) {
    .width-limit {
        width: 100%;
        padding: 0;
    }

    section {
        padding: 15px 0px;
    }

    h2 {
        padding-left: 7px;
        padding-bottom: 3px;
    }
}

@media only screen and (max-width: 600px) {
    .results .hidden-600 {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .results .club {
        max-width: calc((100vw - 31px - 184px - 14px - 54px));
    }
}

@media only screen and (max-width: 370px) {
    .results .name {
        width: auto;
    }

    .results .club {
        display: none;
    }
}
