* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: bottom;
}

.width-limit {
    width: 800px;
    margin: auto;
}

@media only screen and (max-width: 809px) {
    .width-limit {
        width: calc(100vw - 10px);
        padding: 0 5px;
    }
}

header {
    text-align: center;
    border-bottom: solid 1px darkorange;
    padding: 5px 0;
}

main {
    font-size: 14px;
}

nav {
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
    float: right;
    line-height: 30px;
    font-size: 10pt;
}

nav ul li {
    display: inline-block;
    padding-left: 10px;
}

section {
    border-radius: 2px;
    background: white;
    padding: 15px 10px;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-top: solid 0.5px silver;
    border-bottom: solid 0.5px silver;
}

th, td {
    padding: 10px 7px;
}

th {
    border-bottom: solid 2px silver;
}

th.left {
    text-align: left;
}

td {
    border-bottom: solid 0.5px silver;
}

h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

table.index {
    width: auto;
    margin: auto;
}
