* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: whitesmoke;
}

img {
    vertical-align: bottom;
}

.width-limit {
    width: 800px;
    margin: auto;
}

@media only screen and (max-width: 809px) {
    .width-limit {
        width: calc(100vw - 10px);
        padding: 0 5px;
    }
}

header {
    border-bottom: solid 1px silver;
    padding: 5px 0;
    background: white;
}

main {
    font-size: 14px;
}

nav ul {
    padding: 0;
    list-style: none;
    float: right;
    line-height: 30px;
    font-size: 10pt;
}

nav ul li {
    display: inline-block;
    padding-left: 10px;
}

section {
    border-radius: 2px;
    background: white;
    padding: 15px 10px;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-top: solid 0.5px silver;
    border-bottom: solid 0.5px silver;
}

th, td {
    padding: 10px 7px;
}

th {
    border-bottom: solid 2px silver;
}

th.left {
    text-align: left;
}

td {
    border-bottom: solid 0.5px silver;
}

td.number {
    width: 20px;
    text-align: right;
}

.preview h2 {
    font-size: 15px;
}

.preview th {
    font-size: 11px;
    padding: 7px;
}

.preview td {
    font-size: 13px;
    padding: 7px;
}

.preview .position {
    width: 17px;
    text-align: right;
}

.preview .name {
    width: 170px;
    text-align: left;
}

.preview .time {
    width: 60px;
    text-align: right;
}

.preview .status {
    color: silver;
    text-align: right;
}

.preview .points {
    width: 40px;
    text-align: right;
}
